<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Scraper</title>
    <link rel="stylesheet" href="static/style6.css">
  


</head>

<body> 
    <form action="machinelearning">
        <button type="submit">Machine Learning</button>
    <form>
    <h1>Blockchain - Related Hackathons (Active Links):</h1>
    <h3>1)  <a href={{output1}}>{{output1}}</a><br /><br />
        2)  <a href={{output2}}>{{output2}}</a><br /><br />
        3)  <a href={{output3}}>{{output3}}</a></h3>
</body>

</html>