<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Scraper</title>
    <link rel="stylesheet" href="static/style1.css">
  


</head>

<body> 
    <form action="artificialintel">
        <button type="submit">Begin Hackathon Journey</button>
    <form>
    <h1>
        This website takes the user on a dereive through the most imminent hackathons! <br />
        Each stop in the derieve contains URL's for the top 3 most imminent hackathons regarding the respective topic. <br />
    </h1>
    <h2>
        Today's Derieve Itinerary: <br />
        1) {{topic1}} <br />
        2) {{topic2}} <br />
        3) {{topic3}} <br />
        4) {{topic4}} <br />
        5) {{topic5}}
    </h2>
    

</body>

</html>